@using FreneValue.Helpers
@model FreneValue.Models.loclsn

@{
    ViewBag.Title = "PreCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Création d'une localisation </h2>

    @using (Html.BeginForm())
    {
        <div class="form-group">            
            <div class="col-md-8">
                Quel type de localisation voulez-vous créer?
                @Html.DropDownList("typ_loc", ViewBag.typloc.Items as List<SelectListItem>, "-- select an option --", new { id = "typ_loc", @class = "form-control" })                       
            </div>
        </div>

        <div>
            <p>
              @Html.NoEncodeActionLink("Continuer", "Add", "Create1", "Localisation", routeValues: new {  }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary " })
            </p>
        </div>

        <div>
            @Ajax.ActionLink("Continuer", "Create1", "Localisation", new { typ_loc = Model.typ_loc }, new AjaxOptions
               {
                   UpdateTargetId = "creloc",
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET"
               }, new { @class = "btn btn-primary " })
        </div>
    }

    <div id="creloc">
    </div>

</div>
